<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalMe - Página principal</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Tu estilo personalizado -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="/home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-success"></i>VitalMe</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="" class="nav-item nav-link active">Página principal</a>
                <a href="/registro-alimento" class="nav-item nav-link">Alimentos</a>
                <a href="" class="nav-item nav-link">Ejercicios</a>
                <a href="" class="nav-item nav-link">Objetivos</a>
                <a href="/logout" class="nav-item nav-link">Progreso</a>
                <a href="/logout" class="nav-item nav-link">Sobre nosotros</a>
                <div class="nav-item dropdown">
                    <a href="/Perfil" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Perfil</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                        <a href="" class="dropdown-item"></a>
                        <a href="" class="dropdown-item">Ajustes</a>
                        <a href="" class="dropdown-item">Contacto</a>
                        <a href="" class="dropdown-item">FAQ</a>
                        <a href="/logout" class="dropdown-item">Cerrar sesión</a>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

<!-- Calorias -->
<div class="container mt-4 text-center">
    <h2 class="mb-3">Hola {{ app.user.username }}</h2>
    <h3 class="mb-3">Tu progreso diario</h3>
    <div class="progress mb-4">
        {% set porcentajeConsumido = (totalCalorias / 2000) * 100 %}
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ porcentajeConsumido }}%;" aria-valuenow="{{ porcentajeConsumido }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="mb-0">Calorías consumidas hoy: {{ totalCalorias }}</p>
    <p class="mb-4">Calorías restantes para el objetivo diario: {{ 2000 - totalCalorias }}/2000</p>

</div>

 <div class="container mt-4">
        <h3>Alimentos añadidos hoy:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Alimento</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Calorías</th>
                    <th scope="col">Macros (clicar)</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
{% for registro in registros %}
    {% if registro.fecha|date('Y-m-d') == fechaActual|date('Y-m-d') %}
        <tr>
            <td>{{ registro.nombreAlimento }}</td>
            <td>{{ registro.cantidad }}</td>
            <td>{{ registro.calorias }}</td>
            <td>{{ registro.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endif %}
{% endfor %}

            </tbody>
        </table>
    </div>


<!-- Footer -->
<footer class="bg light text-white py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-3">Sobre Nosotros</h5>
                <p>Somos VitalMe, una plataforma dedicada a ayudarte a llevar un estilo de vida saludable y activo. ¡Únete a nuestra comunidad hoy mismo!</p>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Enlaces Útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-white">Acerca de</a></li>
                    <li><a href="/contact" class="text-white">Contacto</a></li>
                    <li><a href="/faq" class="text-white">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">Síguenos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>




<!-- jQuery y Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<Style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: #f3f4f5;
        font-family: "Inter", sans-serif;
        font-weight: 600;
    }
    
    /* Navbar */
    
    .navbar {
        background-color: #ffffff; /* Color de fondo de la barra de navegación */
        border-bottom: 1px solid #e3e3e3; /* Borde inferior */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
        padding: 30px 40px; /* Espaciado interno */
    }
    
    .navbar-brand h1 {
        font-size: 36px; /* Tamaño del texto del logotipo aumentado */
        font-weight: 700; /* Peso de la fuente */
        color: #32db1c; /* Color del texto */
        margin-right: 40px; /* Mayor espacio a la derecha */
    }
    
    .navbar-toggler {
        border: none; /* Quita el borde del botón de alternar */
    }
    
    .navbar-nav .nav-item {
        margin-left: 25px; /* Espaciado entre elementos de la barra de navegación */
        margin-top: 5px;
    }
    
    .navbar-nav .nav-item a {
        color: #333333; /* Color del texto de los enlaces */
        font-weight: 500; /* Peso de la fuente */
        font-size: 20px; /* Tamaño del texto de los enlaces aumentado */
    }
    
    .nav-item.dropdown .dropdown-menu {
        border: none; /* Quita el borde del menú desplegable */
        border-top: 2px solid #32db1c; /* Borde superior */
    }
    
    .nav-item.dropdown .dropdown-menu .dropdown-item {
        color: #333333; /* Color del texto del menú desplegable */
    }
    
    .nav-item.dropdown:hover .dropdown-menu {
        display: block; /* Muestra el menú desplegable al pasar el mouse sobre el elemento de menú */
    }
    
    .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
        background-color: #207515; /* Cambia el color de fondo al pasar el mouse */
        color: #ffffff; /* Cambia el color del texto al pasar el mouse */
    }
    
    .btn-primary {
        background-color: #32db1c; /* Color de fondo del botón */
        color: #ffffff; /* Color del texto del botón */
        border: none; /* Quita el borde */
        border-radius: 0; /* Quita la esquina redondeada */
        font-weight: 500; /* Peso de la fuente */
    }
    
    .btn-primary:hover {
        background-color: #207515; /* Cambia el color de fondo al pasar el mouse */
    }
    
    
    /* Estilos para el apartado de progreso */
    .progress {
        height: 30px;
    }
    
    .progress-bar {
        font-weight: bold;
    }
    
    /* Estilos para el texto de calorías consumidas y restantes */
    .container p {
        font-size: 18px;
        font-weight: 500;
    }

/* Estilos para el footer */
footer {
    position: fixed; /* Fijar el footer */
    left: 0; /* Posición a la izquierda */
    bottom: 0; /* Posición en la parte inferior */
    width: 100%; /* Ancho completo */
    background-color: #343a40; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 20px 0; /* Espaciado interno */
    font-family: "Inter", sans-serif;
    font-weight: 400; /* Cambiar el peso de la fuente */
    font-size: 16px; /* Cambiar el tamaño del texto */
}

.footer-link {
    color: #ffffff; /* Color del texto de los enlaces */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

.footer-link:hover {
    color: #ffc107; /* Cambia el color del texto al pasar el mouse sobre los enlaces */
}

.footer-icon {
    font-size: 24px; /* Tamaño de iconos */
    margin-right: 10px; /* Espacio a la derecha de los iconos */
}

.footer-heading {
    font-size: 20px; /* Tamaño del texto del encabezado */
    font-weight: 500; /* Peso de la fuente del encabezado */
    margin-bottom: 10px; /* Espacio inferior */
}
</Style>