{% extends 'layout.html.twig' %}

{% block title %}Página Principal - VitalMe{% endblock %}

{% block content %}
<!-- Calorias -->
<div class="container mt-4 text-center">
    <h2 class="mb-3">Hola {{ app.user.username }}</h2>
    <h3 class="mb-3">Tu progreso diario</h3>
    <div class="progress mb-4">
        {% set porcentajeConsumido = (totalCalorias / 2000) * 100 %}
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ porcentajeConsumido }}%;" aria-valuenow="{{ porcentajeConsumido }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="mb-0">Calorías consumidas hoy: {{ totalCalorias }}</p>
    <p class="mb-4">Calorías restantes para el objetivo diario: {{ 2000 - totalCalorias }}/2000</p>
</div>

<div class="container mt-4">
    <h3>Alimentos añadidos hoy:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Alimento</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Calorías</th>
                <th scope="col">Hora</th> <!-- Cambiado el encabezado de la columna -->
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
                <tr>
                    <td>{{ registro.nombreAlimento }}</td>
                    <td>{{ registro.cantidad }}</td>
                    <td>{{ registro.calorias }}</td>
                    <td>{{ registro.fecha|date('H:i') }}</td> <!-- Se muestra solo la hora -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
