{% extends 'layout.html.twig' %}

{% block title %}Añadir alimento - VitalMe{% endblock %}

{% block content %}


    <div class="container mt-5">
        <h1>Añadir Producto</h1>
        {{ form_start(form) }}
        {{ form_row(form.nombreAlimento, { 'attr': {'class': 'autocomplete-input'}}) }}
        {{ form_row(form.cantidad) }}
        <button type="submit" class="btn btn-primary">Añadir</button>
        {{ form_end(form) }}

        {# Mostrar mensajes flash #}
        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

{% endblock %}

